<div class="container">
  <div class="form-container">
    <!-- <img src="assets/images/logo-yak.png" alt="" class="logo"> -->

    <div class="form"
         [@animateSwitchForm]="animateLoginSwitchState"
         [@animateFadeForm]="animateLoginFadeState"
         [formGroup]="log_in">
      <div class="error" *ngIf="log_error.length">
        {{ log_error }}
      </div>
      <md-input-container class="fw-full">
        <input mdInput placeholder="Email" formControlName="email">
      </md-input-container>

      <md-input-container class="fw-full">
        <input mdInput placeholder="Password" type="password" formControlName="password">
      </md-input-container>

      <md-checkbox class="login" formControlName="remember_me">Remember me</md-checkbox>

      <button md-raised-button class="fw-full"
              [ngClass]="{'disabled': !log_in.valid}"
              (click)="login()"
              [disabled]="!log_in.valid">Login</button>
      <p class="copy extra">
        <span>
          Need an account?
          <button (click)="animateToSignUp()">Sign Up</button>
        </span>
        <br>
        <button (click)="animateToPasswordReset()">Forgot password?</button>
      </p>
    </div>

    <div class="form" style="opacity:0.5"
         [@animateSwitchForm]="animateSigninSwitchState"
         [@animateFadeForm]="animateSigninFadeState"
         [formGroup]="sign_up">
      <div *ngIf="!disallow_register">
          <div class="error" *ngIf="reg_error.length">
            {{ reg_error }}
          </div>
          <md-input-container class="fw-full">
            <input mdInput placeholder="First Name" formControlName="first_name">
          </md-input-container>

          <md-input-container class="fw-full">
            <input mdInput placeholder="Last Name" formControlName="last_name">
          </md-input-container>

          <md-input-container class="fw-full">
            <input mdInput placeholder="Email" formControlName="email">
          </md-input-container>

          <md-input-container class="fw-full">
            <input mdInput placeholder="Password"
                   type="password"
                   [formGroup]="sign_up"
                   validateConfirm
                   formControlName="password">
          </md-input-container>

          <md-input-container
                  class="fw-full">
            <input mdInput placeholder="Confirm Password"
                   validateConfirm
                   type="password"
                   [formGroup]="sign_up"
                   name="confirm_password"
                   formControlName="confirm_password">
          </md-input-container>

          <button md-raised-button class="fw-full"
                  [ngClass]="{'disabled': !sign_up.valid}"
                  [disabled]="!sign_up.valid"
                  (click)="registerUser()">Sign Up</button>
      </div>
      <div *ngIf="disallow_register" class="text-center">
          <h2>Sorry.</h2>
          <p>Registration is closed.</p>
      </div>

      <p class="copy">
          <span>
            Already have an account?
            <button (click)="animateToLogin()">Login</button>
          </span>
      </p>
    </div>

    <div class="form" style="opacity:0.5"
         [@animateSwitchForm]="animatePasswordSwitchState"
         [@animateFadeForm]="animatePasswordFadeState"
         [formGroup]="password_reset">
      <div *ngIf="!passwordReset">
        <div *ngIf="passwordReset_error" class="error">Sorry. Can not find a user with that email.</div>
        <h2>Reset Your Password</h2>
        <p class="reset">Enter your email address and we will send you a link to reset your password.</p>
        <md-input-container class="fw-full">
          <input mdInput placeholder="Email" formControlName="email">
        </md-input-container>

        <button md-raised-button class="fw-full"
                [ngClass]="{'disabled': !password_reset.valid}"
                [disabled]="!password_reset.valid"
                (click)="resetPassword()">Reset Password</button>

        <p class="copy">
        <span>
          Back to
          <button (click)="animateToLogin()">Login</button>
        </span>
        </p>
      </div>

      <div *ngIf="passwordReset">
        <p class="reset">Please check your email.</p>
      </div>
    </div>
  </div>
</div>