<dashboard-nav></dashboard-nav>

<section class="container">
    <article>
        <md-grid-list class="card-style" cols="6" rowHeight="150" gutterSize="20">
            <md-grid-tile colspan="3">
                <div class="logo-container">
                    <img src="assets/images/logo-placeholder-1.png" alt="">
                </div>
                <div class="info-summary text-left">
                    <h1>Boros</h1>
                    <p class="client">One Punch Man</p>
                    <p class="description">
                        Brad Bird and Disney's 2015 sci-fi adventure film Tomorrowland is an underrated film that I actually really enjoyed.
                    </p>
                </div>
            </md-grid-tile>

            <md-grid-tile
                    class="header-summary hours"
                    colspan="1">
                <md-grid-tile-header>Total Hours</md-grid-tile-header>
                <p>38.5</p>
            </md-grid-tile>

            <md-grid-tile
                    class="header-summary outstanding"
                    colspan="1">
                <md-grid-tile-header>Total Uninvoiced</md-grid-tile-header>
                <p>$1,350.45</p>
            </md-grid-tile>

            <md-grid-tile
                    [ngClass]="{'active': active}"
                    class="timer"
                    colspan="1">
                <md-grid-tile-header><p>00:00:00</p></md-grid-tile-header>
                <button
                        md-raised-button
                        (click)="openDialog()"
                        class="start-timer">
                    <span *ngIf="!active">Start</span><span *ngIf="active">Stop</span> Timer
                </button>
            </md-grid-tile>
        </md-grid-list>

        <md-card *ngFor="let tracking of trackings; let d = index">
            <md-card-title>
                <strong>{{ tracking.date | amDateFormat:'dddd' }}</strong>
                {{ tracking.date | amDateFormat:'DD MMM' }}
            </md-card-title>

            <md-grid-list cols="12" class="time-row"
                [ngClass]="{'active': active && int == 0 && d == 0}"
                *ngFor="let time of tracking.times; let int = index">
                <md-grid-tile colspan="9">
                    <div class="text-left fw-full pd-l">
                        <h5>{{ time.title }}</h5>
                        <p>{{ time.description }}</p>
                    </div>
                </md-grid-tile>

                <md-grid-tile colspan="1">
                    <md-icon class="time-icon">schedule</md-icon>
                </md-grid-tile>

                <md-grid-tile colspan="1">
                    {{ setTime(time.start, time.end) }}
                </md-grid-tile>

                <md-grid-tile colspan="1">
                    Edit
                </md-grid-tile>
            </md-grid-list>
        </md-card>
    </article>
</section>
