$colors: (
	primary: #009688,
	secondary: #FF9800,
	lte_grey: #ecf0f1,
	mid_grey: lighten(#000, 50%),
	success: #2ecc71
);

$navHeight: 65px;

@mixin resizeMaterialIconButton($size: 24px) {
	.material-icons {
		font-size: $size;
	}

	.mat-icon {
		height: $size;
		width: $size;
	}

	.mat-icon-button .mat-icon, .mat-icon-button i {
		line-height: $size;
	}
}

@mixin resizeMaterialIcon($size: 24px) {
	.mat-icon {
		font-size: $size;
		height: $size;
		line-height: $size;
		width: $size;
	}
}

@mixin setOverviewColor($color) {
	.mat-grid-tile-header {
		border-top: 5px solid $color;
	}

	span {
		color: $color;
		font-weight: 600;
	}
}

@mixin resetMdButton() {
	.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
		line-height: 36px;
	}
}