@import '../../../assets/base/imports';

nav {
	background: $primary;
	color: #efefef;
	// height: 60px;
	padding: 20px;
	width: 100%;
	@include box-sizing(border-box);
}

.navbar {
	background: $primary;
	color: #fff;

	span {
		font-weight: 300;
	}

	@include resizeMaterialIcon(32px);
}

.example-spacer {
  flex: 1 1 auto;
}