@import '../../../assets/base/imports';

nav {
	background: map-get($colors,primary);
	color: #efefef;
	// height: 60px;
	padding: 20px;
	width: 100%;
	@include box-sizing(border-box);
}

.navbar {
	background: map-get($colors,primary);
	color: #fff;

	.icon-logo {
		color: map-get($colors, secondary);
		margin-right: 5px;
	}

	span {
		font-weight: 300;
	}

	@include resizeMaterialIcon(32px);
}

.example-spacer {
  flex: 1 1 auto;
}