<h2 md-dialog-title>New Time Entry</h2>

<md-dialog-content [formGroup]="new_time">
    <md-input-container class="fw-full">
        <input mdInput placeholder="Project Name" formControlName="time_name">
    </md-input-container>

    <md-input-container class="fw-full">
        <textarea mdInput class="description" placeholder="Description" formControlName="time_description"></textarea>
    </md-input-container>

    <md-grid-list cols="2" rowHeight="70" gutterSize="25">
        <md-grid-tile>
            <md-input-container class="fw-full">
                <input mdInput placeholder="Start Time" formControlName="time_start">
            </md-input-container>
        </md-grid-tile>

        <md-grid-tile>
            <md-input-container class="fw-full">
                <input mdInput placeholder="End Time" formControlName="time_end">
            </md-input-container>
        </md-grid-tile>
    </md-grid-list>
</md-dialog-content>

<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button
          class="success"
          [md-dialog-close]="true"
          [disabled]="!new_time.valid"
          [ngClass]="{'disabled': !new_time.valid}"
          (click)="addTimeEntry()">Add</button>
</md-dialog-actions>
