@import '../../assets/base/imports';

@include resetMdButton();

.mat-grid-list {
	margin-bottom: 30px;

	.mat-grid-tile-header {
		background: none;
		color: map-get($colors, mid_grey);
		font-weight: 300;
	}

	.mat-grid-tile {
		&.card-style {
			background: #fff;
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
		}

		&.daily {
			@include setOverviewColor(#8e44ad);
		}

		&.weekly {
			@include setOverviewColor(#00BCD4);
		}

		&.uninvoiced {
			@include setOverviewColor(#CDDC39);
		}

		span {
			font-size: 32px;
		}
	}
}

.table-header {
	border-bottom: 1px solid map-get($colors, mid_grey);
	color: lighten(#000, 75%);
	font-size: 14px;
}

.table-content {
	border-bottom: 1px solid map-get($colors, lte_grey);
	color: map-get($colors, mid_grey);
	margin-bottom: 15px;
	padding-bottom: 15px;

	&:last-of-type {
		border-bottom: 0;
	}
}

.mat-card-title {
	color: map-get($colors, mid_grey);
}