@import '../../assets/base/imports';

.mat-grid-list {
	margin-bottom: 15px;

	.mat-grid-tile-header {
		background: none;
		color: map-get($colors, mid_grey);
		font-weight: 300;
	}

	.mat-grid-tile {
		&.daily {
			@include setOverviewColor(#8e44ad);
		}

		&.weekly {
			@include setOverviewColor(#00BCD4);
		}

		&.uninvoiced {
			@include setOverviewColor(#CDDC39);
		}

		span {
			font-size: 32px;
		}
	}
}