/* You can add global styles to this file, and also import other style files */
@import './assets/base/imports';

body, html {
	font: {
		family: Roboto,"Helvetica Neue",sans-serif;
	    //family: 'Open Sans', sans-serif;
	    size: 16px;
	};
}

body {
	background: #efefef;
}

.flex {
	display: flex !important;
}

.flex-spacer {
	flex: 1 1 auto;
}

.fw-t {
	font-weight: 300 !important;
}

.section-heading {
	color: map-get($colors, mid_grey);
	font-size: 24px;
	font-weight: 300;
	margin-top: 0;
}

.success {
	background-color: map-get($colors, success) !important;
	color: #fff !important;

	&.disabled {
		background: rgba(#ccc, 0.4) !important;
	}
}

.text-left {
	text-align: left;
}

.pd-l {
	padding-left: 15px;
}

section {
	&.container {
		padding-top: 30px;
		text-align: center;

		article {
			margin: 0 auto;
			width: 1000px;
		}
	}
}