<dashboard-nav></dashboard-nav>

<section class="container">
    <article>
        <div class="col">
            <div class="card-style logo-drop">
                <div class="logo-container">
                    <div class="logo">
                        <img src="assets/images/logo-placeholder-1.png" alt="">
                    </div>
                </div>

                <h3>{{ client?.name }}</h3>

                <p class="details">{{ client?.description }}</p>

                <div class="client-info">
                    <md-icon class="adjust-left">account_circle</md-icon>
                    <p>{{ client?.owner }} <md-icon class="edit">mode_edit</md-icon></p>
                </div>

                <div class="client-info" *ngIf="client?.address">
                    <md-icon class="adjust-left">place</md-icon>
                    <p>7655 NW 19th Court</p>
                    <p>Pembroke Pines, FL 33024</p>
                </div>

                <div class="contactForm" *ngIf="showAddressForm && !client?.address">
                    Hi address.
                </div>

                <button md-button *ngIf="!client?.address && !showAddressForm" class="std_button" (click)="toggleAddressForm()">
                    Add Address
                </button>

                <div class="client-info" *ngFor="let contact of client?.contact">
                    <md-icon class="adjust-left" *ngIf="contact.type == 'email'">local_post_office</md-icon>
                    <md-icon class="adjust-left" *ngIf="contact.type == 'phone'">local_phone</md-icon>
                    <p>954 665-9421</p>
                </div>

                <div class="contactForm" *ngIf="showContactForm && !client?.contact">
                    Hi form.
                </div>

                <button md-button *ngIf="!client?.contact && !showContactForm" class="std_button" (click)="toggleContactForm()">Add Contact Info</button>
            </div>
        </div>

        <div class="col">
            <div class="card-style">
                <h2 class="section-heading">
                    Projects

                    <span class="flex-spacer"></span>

                    <button md-mini-fab class="success" (click)="openDialog()" mdTooltip="Add Client" mdTooltipPosition="left">
                        <md-icon class="md-24">add</md-icon>
                    </button>
                </h2>

                <div *ngIf="projects?.length">
                    <md-grid-list class="table-header" [cols]="totalCols" rowHeight="24">
                        <md-grid-tile *ngFor="let header of project_table_headers; let int = index" [colspan]="colspan[int]">
                            {{ header | capitalize }}
                        </md-grid-tile>
                    </md-grid-list>

                    <md-grid-list
                            class="table-content"
                            *ngFor="let project of projects"
                            rowHeight="50"
                            [cols]="totalCols">
                        <md-grid-tile *ngFor="let value of project_table_headers; let int = index" [colspan]="colspan[int]">
                            {{ project[value] }}
                        </md-grid-tile>
                    </md-grid-list>
                </div>

                <div class="empty-state" *ngIf="!projects?.length">
                    <md-icon>remove_circle_outline</md-icon>
                    <p>You do not have projects.<br>Click on the
                        <button md-mini-fab class="success thumbnail">
                            <md-icon>add</md-icon>
                        </button>
                        button above to add a project.</p>
                </div>
            </div>
        </div>
    </article>
</section>