<h2 md-dialog-title>Add New Client</h2>

<md-dialog-content>
    <md-input-container class="fw-full">
        <input mdInput placeholder="Company Name">
    </md-input-container>

    <md-input-container class="fw-full">
        <textarea mdInput class="description" placeholder="Description"></textarea>
    </md-input-container>

    <!--<md-input-container class="fw-full">-->
        <!--<input mdInput placeholder="Address">-->
    <!--</md-input-container>-->

    <!--<md-input-container class="fw-full">-->
        <!--<input mdInput placeholder="Address 2">-->
    <!--</md-input-container>-->

    <!--<md-grid-list [cols]="3" gutterSize="20px" rowHeight="65">-->
        <!--<md-grid-tile>-->
            <!--<md-input-container class="fw-full">-->
                <!--<input mdInput placeholder="City">-->
            <!--</md-input-container>-->
        <!--</md-grid-tile>-->

        <!--<md-grid-tile>-->
            <!--<md-select placeholder="State">-->
                <!--<md-option>-->
                  <!--FL-->
                <!--</md-option>-->
            <!--</md-select>-->
        <!--</md-grid-tile>-->

        <!--<md-grid-tile>-->
            <!--<md-input-container class="fw-full">-->
                <!--<input mdInput placeholder="Zip">-->
            <!--</md-input-container>-->
        <!--</md-grid-tile>-->
    <!--</md-grid-list>-->
</md-dialog-content>

<md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button class="success" [md-dialog-close]="true">Add</button>
</md-dialog-actions>